%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"vra_sample"), :method=>"post","data-resourceType"=>"vra_sample", "accept-charset"=>"utf-8"}
  %fieldset#title_fields
    %legend Title
    %input#content_type{:type=>"hidden", :name=>"content_type", :value=>"vra_sample"}
    %dl
      %dt
        = fedora_field_label("descMetadata", [:work], "Work:")
      %dd#work{"data-datastream-name"=>"descMetadata"}
        = fedora_text_area(@document_fedora,"descMetadata", [:work], :multiple=>false)

      %dt
        = fedora_field_label("descMetadata", [:work, :title_set, :title_display], "Title:")
      %dd.title
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :title_set, :title_display], :multiple=>false)
    
      %dt
        = fedora_field_label("descMetadata", [:work, :source], "Source:")
      %dd.source
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :source], :multiple=>false)

      %dt
        = fedora_field_label("descMetadata", [:work, :subject_set, :subject_display], "Subject:")
      %dd.subject
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :subject_set, :subject_display])

      %dt
        = fedora_field_label("descMetadata", [:work, :agent_set, :agent_display], "Agent Name:")
      %dd.agent_name
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :agent_set, :agent_display])

      %dt
        = fedora_field_label("descMetadata", [:work, :agent_set, :agent], "Agent:")
      %dd.agent
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :agent_set, :agent], :mulitple=>true)


      %dt
        = fedora_field_label("descMetadata", [:work, :cultural_context_set], "Culture:")
      %dd.culture
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :culturalContextSet, :culturalContext], :multiple=>true)

      %dt
        = fedora_field_label("descMetadata", [:work, :date_set], "Date:")
      %dd.date
        = fedora_text_field(@document_fedora,"descMetadata", [:work, :date_set], :multiple=>false)

      %dt
        = fedora_field_label("descMetadata", [:work, :description_set, :description], "Description:")
      %dd#description{"data-datastream-name"=>"descMetadata"}
        = fedora_text_area(@document_fedora,"descMetadata", [:work, :descriptionSet, :description], :multiple=>true)
        = fedora_text_field_insert_link "descMetadata", [:work, :descriptionSet, :description]       
      %dt
        = fedora_field_label("descMetadata", [:work, :work_type_set, :work_type_display], "Work Type:")
      %dd#worktype{"data-datastream-name"=>"descMetadata"}
        = fedora_text_area(@document_fedora,"descMetadata", [:work, :work_type_set, :work_type_display])

      %dt
        = fedora_field_label("descMetadata", [:reference_location, :location_local_name], "Location:")
      %dd.location
        = fedora_text_field(@document_fedora,"descMetadata", [:reference_location, :location_local_name], :multiple=>true) 
  
   