%fieldset#title_fields
  %legend Title
  %dl
    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :title_set, :title_display]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :title_set, :title_display], "Title:")
      %dd.title
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :title_set, :title_display])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :subject_set, :subject_display]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :subject_set, :subject_display], "Subject:")
      %dd.Subject
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :subject_set, :subject_display])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :agent_set, :agent_display]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :agent_set, :agent_display], "Agent:")
      %dd.agent_title
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :agent_set, :agent_display])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :cultural_context_set]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :cultural_context_set], "Culture:")
      %dd.culture
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :cultural_context_set])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :date_set]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :date_set], "Date:")
      %dd.date
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :date_set])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :description_set]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :description_set], "Description:")
      %dd.description
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :description_set])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :work_type_set, :work_type_display]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :work_type_set, :work_type_display], "Work Type:")
      %dd.title
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :work_type_set, :work_type_display])
  
    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:reference_location, :location_local_name]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:reference_location, :location_local_name], "Location:")
      %dd.language
        = get_values_from_datastream(@document_fedora,"descMetadata", [:reference_location, :location_local_name])
  %ol
    = render :partial=>"vra_samples/show_image", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:image)
      

