%fieldset#title_fields
  %legend Title
  %dl
    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :agent_set, :agent_display]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :agent_set, :agent_display], "Title:")
      %dd.title
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :agent_set, :agent_display])
  
    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:reference_location, :location_local_name]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:reference_location, :location_local_name], "Location:")
      %dd.language
        = get_values_from_datastream(@document_fedora,"descMetadata", [:reference_location, :location_local_name])

    - unless get_values_from_datastream(@document_fedora,"descMetadata", [:work, :cultural_context_set]).first.empty?
      %dt
        = fedora_field_label("descMetadata", [:work, :cultural_context_set], "Culture:")
      %dd.culture
        = get_values_from_datastream(@document_fedora,"descMetadata", [:work, :cultural_context_set])
      

