%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"item"), :method=>"post","data-resourceType"=>"item", "accept-charset"=>"utf-8"}
  %fieldset#title_fields
    %legend Title
    %input#content_type{:type=>"hidden", :name=>"content_type", :value=>"item"}
    %dl
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :unittitle], "Title:")
      %dd.title
        = fedora_text_field(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :unittitle], :multiple=>false)
        
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :unitid], "ID:")
      %dd.unitid
        = fedora_text_field(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :unitid], :multiple=>false)
    
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :origination, :persname], "Authors:")
      %dd.person
        = fedora_text_field(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :origination, :persname], :multiple=>false)
        
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :physdesc, :dimensions], "Physical Description:")
      %dd.physdesc
        = fedora_text_field(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :did, :physdesc, :dimensions], :multiple=>false)
        
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :controlaccess, :genreform], "Genre Form:")
      %dd.controlaccess
        = fedora_text_field(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :controlaccess, :genreform], :multiple=>false)
        
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :acqinfo], "Acquisition Information:")
      %dd.acqinfo
        = fedora_text_area(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :acqinfo], :multiple=>false)
        
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :scopecontent], "Description:")
      %dd.scopecontent
        = fedora_text_area(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :scopecontent], :multiple=>false)
        
      %dt
        = fedora_field_label("descMetadata", [:archive_desc, :dsc, :c01, :c02, :daogrp, :daoloc, :daoloc_href], "Images:")
      %dd.daogrp
        = fedora_text_field(@document_fedora,"descMetadata", [:archive_desc, :dsc, :c01, :c02, :daogrp, :daoloc, :daoloc_href], :multiple=>false)

      