<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"vra_sample")%>" method="post" data-resourceType="vra_sample" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend> Work </legend>
      <input id="content_type" type="hidden" name="content_type" value="vra_sample" />
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :title_set, :title_display], "Title:") %>
      </dt>
      <dd class="title">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:work, :title_set, :title_display], :multiple=>false) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :source], "Source:") %>
      </dt>
      <dd class="source">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:work, :source], :multiple=>false) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :subject_set, :subject_display], "Subject:") %>
      </dt>
      <dd class="subject">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:work, :subject_set, :subject_display])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :agent_set, :agent_display], "Agent Name:") %>
      </dt>
      <dd class="agent_name">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:work, :agent_set, :agent_display]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :cultural_context_set], "Culture:") %>
      </dt>
      <dd class="culture">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:work, :culturalContextSet, :culturalContext], :multiple=>true) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :date_set], "Date:")  %>
      </dt>
      <dd class="date">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:work, :date_set], :multiple=>false)   %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :description_set, :description], "Description:")  %>
      </dt>
      <dd id="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:work, :descriptionSet, :description], :multiple=>true) %>
        <%= fedora_text_field_insert_link "descMetadata", [:work, :descriptionSet, :description], :label=>"description"%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:work, :work_type_set, :work_type_display], "Work Type:")%>
      </dt>
      <dd id="worktype">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:work, :work_type_set, :work_type_display])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:reference_location, :location_local_name], "Location:")%>
      </dt>
    </dl>
    </fieldset>
    <fieldset id="agent_fields">
    <legend>Agents Description</legend>
        <ol>
          <%= render :partial=>"agents/edit_agent", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:work, :agent_set, :agent) %>
        </ol>
     <%# Button for adding person/conference/organization %>
    <% if params[:action] == "edit" %>
      <% format = document_partial_name(@document) %>
      <div id="add-agent-box">
        <input id="re-run-add-agent-action" type="button" value="Add a agent" />
      </div>
    <% end %>
    </fieldset>
    <fieldset id="image_fields">
    <legend>Image Description</legend>
      <ol>
        <%= render :partial=>"images/edit_image_tag", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:image) %>
      </ol>
      <%# Button for adding image tag %>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
        <div id="add-image-box">
          <input id="re-run-add-image-action" type="button" value="Add Image Tag" />
        </div>
      <% end %>
    </fieldset>
  </form>
  
   